.block{
    font-family: Monospaced;
    font-size: 20px;
}

h1 {
    color: firebrick;
}


table {
    width: 600px;
    border-collapse: collapse;
}

td {
    padding: 3px;
    width: 300px;
    border: 1px solid black;
}

body {
    background-color: antiquewhite;
}

.code {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: auto;
    padding-right: auto;
    background-color: white;
    font-family: monospace;
    color: blue;
}
